.holiday{
    background-color: #ffaaaa;
}
.saturday{
    background-color: #9999ff;
}
body{
    display: flex;
    justify-content: center;
}
h2{
    width: 100%;
}
td{
    text-align: center;
}
td:hover{
    background-color: lightblue;
}
.monthbox{
    padding: 10.5px;
}
.monthHead{
    font-size: 1.6rem;
}
.today{
    text-decoration: underline;
}
.past{
    color:#a9a9a9;
}
#app{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 900px;
}